.card{
    margin: 1rem;
    border-radius: 13px;
    width: 42rem;
    height: 10rem;
    background-color: #e9c6ec;
}

.card-header{
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(135, 105, 160);
}

.card-btn{
    display: flex;
    /* align-items: flex-end; */
    /* justify-content: end; */
    justify-content: space-around;
    /* height: 6rem; */
    padding: 3rem 0;
    margin-bottom: 1rem;
}

.butn{
    padding: 1vh;
    /* padding-left: 2vh;
    padding-right: 2vh; */
    border-radius: 10px;
    color: rgb(41, 39, 43);
    background-color: #9d95ca;
    border: none;
    margin-left: 2rem;
    margin-right: 1rem;
}

.text-incomplete{
    padding: 5px 0;
}