.container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: space-around;
}

.prev{
    display: flex;
    justify-content: center;
}
.paggination{
    background-color:  #9d95ca;
    height: 100%;
    width: 20%;
    
}
.next{
    display: flex;
    justify-content: center;
}

.pagenumber{
    display: flex;
    justify-content: center;
}