.container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: space-around;
}

.prev{
    display: flex;
    justify-content: center;
}

.next{
    display: flex;
    justify-content: center;
}

.pagenumber{
    display: flex;
    justify-content: center;
}